h1{
    background-color: rgb(199, 153, 153);
    font-weight: 200px;
    border: brown;
    color: brown;
    font-size: 50px;
    font-style: normal;
}
body{
    background-color: rgb(145, 226, 120);
    font-style: italic;
    border-color: rgb(22, 128, 221);
    border-width: 50px;
}
li{
    color: rgb(94, 7, 194);
    font-style: oblique;
    
}
h2,h3{
    background-color: rgb(22, 97, 53);
    color: rgb(176, 199, 243);
}